<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    
    <title>Portada</title>
</head>
<body>
    <div class="pdf-container">
        <img src="../logo_utna-removebg.png" alt="">
        <br>
        <br>
        <h1>Actividad</h1>
        <br>
        <h2>Docente</h2>
        <h3>Materia</h3>
        <br>
        <h2>Alumno</h2>
        <h3>Carrera</h3>
        <br>
        <h3>Fecha</h3>
    </div>
</body>
</html>